<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--Context Parameters-->
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5PADDING</param-value>
    </context-param>
    <context-param>
        <param-name>key</param-name>
        <param-value>lawrencedecamora</param-value>
    </context-param>
    <context-param>
        <param-name>ciphertype</param-name>
        <param-value>AES</param-value>
    </context-param>
    <context-param>
        <param-name>logoURL</param-name>
        <param-value>https://activelearning.ph/wp-content/uploads/2021/03/logo-white.png</param-value>
    </context-param>
    <context-param>
        <param-name>CoursesURL</param-name>
        <param-value>https://activelearning.ph/courses/</param-value>
    </context-param>
    <context-param>
        <param-name>NewsURL</param-name>
        <param-value>https://activelearning.ph/news/</param-value>
    </context-param>
    <context-param>
        <param-name>CareersURL</param-name>
        <param-value>https://activelearning.ph/careers/</param-value>
    </context-param>
    <context-param>
        <param-name>AboutURL</param-name>
        <param-value>https://activelearning.ph/about/</param-value>
    </context-param>
    <context-param>
        <param-name>ContactURL</param-name>
        <param-value>https://activelearning.ph/contact/</param-value>
    </context-param>
    <context-param>
        <param-name>rights</param-name>
        <param-value>© 2024 ActiveLearning, Inc. All Rights Reserved.</param-value>
    </context-param>
    <!--Servlet Context Listener-->
    <context-param>
        <param-name>captchaKey</param-name>
        <param-value>6Ldc49YpAAAAAO5EZmIC6gz_gLANLe9IIjZfMHH6</param-value>
    </context-param>
    <listener>
        <listener-class>listeners.DateTimeContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UserDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PdfGenerator</servlet-name>
        <servlet-class>controllers.PdfGenerator</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcClassName2</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName2</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword2</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL2</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName2</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort2</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName2</param-name>
            <param-value>datadb</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>controllers.DatabaseServlet</servlet-class>
        <!--DB2: MySQL-->
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>datadb</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseServlet</servlet-name>
        <servlet-class>controllers.AddCourseServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>datadb</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>DeleteRowServlet</servlet-name>
        <servlet-class>controllers.DeleteRowServlet</servlet-class>
        <!--Database Parameters-->
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>datadb</param-value>
        </init-param>
        <!--Database Parameters-->
    </servlet>
    <servlet>
        <servlet-name>ChangeCourseServlet</servlet-name>
        <servlet-class>controllers.ChangeCourseServlet</servlet-class>
        <!--Database Parameters-->
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>datadb</param-value>
        </init-param>
        <!--Database Parameters-->
    </servlet>
    <servlet>
        <servlet-name>UpdateProgressServlet</servlet-name>
        <servlet-class>controllers.UpdateProgressServlet</servlet-class>
        <!--Database Parameters-->
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>3306</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>datadb</param-value>
        </init-param>
        <!--Database Parameters-->
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controllers.SignupServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:derby</param-value>
        </init-param>
        <init-param>
            <param-name>dbHostName</param-name>
            <param-value>localhost</param-value>
        </init-param>
        <init-param>
            <param-name>dbPort</param-name>
            <param-value>1527</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>UserDB</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfGenerator</servlet-name>
        <url-pattern>/PdfGenerator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/DatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseServlet</servlet-name>
        <url-pattern>/AddCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRowServlet</servlet-name>
        <url-pattern>/DeleteRowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCourseServlet</servlet-name>
        <url-pattern>/ChangeCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProgressServlet</servlet-name>
        <url-pattern>/UpdateProgressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--Error Pages-->
    <error-page>
        <exception-type>controllers.NullValueException</exception-type>
        <location>/errorPages/errorBlank.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/error404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.WUnameBPassException</exception-type>
        <location>/errorPages/errorUsername.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.AuthenticationException</exception-type>
        <location>/errorPages/errorAuth.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.WrongPassException</exception-type>
        <location>/errorPages/errorPass.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.DuplicateCourseException</exception-type>
        <location>/errorPages/duplicateCourse.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.UsernameExistsException</exception-type>
        <location>/errorPages/duplicateUsername.jsp</location>
    </error-page>
    <error-page>
        <exception-type>controllers.PassNotMatchException</exception-type>
        <location>/errorPages/passNotMatchError.jsp</location>
    </error-page>
</web-app>
